In [12]:
import pandas as pd
import numpy as pd
import time
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [13]:
pip install selenium

Requirement already satisfied: selenium in c:\users\prish\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\prish\anaconda3\lib\site-packages (from selenium) (0.22.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prish\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\prish\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\prish\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: cffi>=1.14 in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: attrs>=20.1.0 in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\prish\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\prish\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\prish\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\prish\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\prish\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

NameError: name 'webdriver' is not defined

In [2]:
chromedriver.exe --version

NameError: name 'chromedriver' is not defined

In [3]:
pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\prish\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: tqdm in c:\users\prish\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: requests in c:\users\prish\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\prish\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in c:\users\prish\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prish\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prish\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prish\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\prish\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: colorama in c:\users\prish\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import os
import sys
os.path.dirname(sys.executable)

'C:\\Users\\prish\\anaconda3'

In [15]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://www.yatra.com/')

In [16]:
browser.get("https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=19%2F07%2F2023&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=246072983184&version=1.1&viewName=normal")
time.sleep(2)

In [17]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [18]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    browser.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    browser.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  3.07it/s]

In [20]:
flights=browser.find_elements("xpath",'//div[@class="flight-det table full-width clearfix"]')
len(flights)

146

In [21]:
#extracting the name of airlines
airlines=browser.find_elements("xpath","//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else:
    pass

#extracting the aeroplane model
aeroplanes=browser.find_elements("xpath","//p[@class='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text)
else:
    pass

#extracting departure times
dept_times=browser.find_elements("xpath","//div[@class='i-b pr']")
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else:
    pass

#extracting arrival times
arrival=browser.find_elements("xpath","//p[@class='bold fs-15 mb-2 pr time']")
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else:
    pass

#extracting source of the flight
source = browser.find_elements("xpath","//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = browser.find_elements("xpath",'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = browser.find_elements("xpath",'//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = browser.find_elements("xpath","//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = browser.find_elements("xpath",'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

# Clicking on Flights details element
Button = browser.find_elements("xpath",'//div[@class="link-color fs-12 cursor-pointer"]/span')
browser.execute_script("arguments[0].click();", WebDriverWait(browser, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = browser.find_element("xpath",'//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 146/146 [00:01<00:00, 118.81it/s]
100%|██████████| 146/146 [00:01<00:00, 115.39it/s]
100%|██████████| 146/146 [00:01<00:00, 118.78it/s]
100%|██████████| 146/146 [00:01<00:00, 123.58it/s]
100%|██████████| 146/146 [00:00<00:00, 156.60it/s]
100%|██████████| 146/146 [00:01<00:00, 125.69it/s]
100%|██████████| 146/146 [00:01<00:00, 118.91it/s]
100%|██████████| 146/146 [00:01<00:00, 116.60it/s]
100%|██████████| 146/146 [00:00<?, ?it/s]

In [22]:
import pandas as pd
import numpy as np

In [4]:
conda install numexpr

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [6]:
conda remove numexpr

Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed

Note: you may need to restart the kernel to use updated packages.

PackagesNotFoundError: The following packages are missing from the target environment:
  - numexpr

In [7]:
conda install numexpr

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\prish\anaconda3

  added / updated specs:
    - numexpr


The following NEW packages will be INSTALLED:

  numexpr            pkgs/main/win-64::numexpr-2.8.4-py310h2cd9be0_1



Downloading and Extracting Packages


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [23]:
Flight=pd.DataFrame()
Flight["Airline"]=Airlines
Flight['Aeroplane'] = Aeroplane
Flight["Date"]=Date
Flight["Departure_Time"]=Dept_time
Flight["Arrival_Time"]=Arrival_time
Flight["Source"]=Source
Flight["Destination"]=Destination
Flight["Stops"]=Stops
Flight["Duration"]=Duration
Flight["Price"]=Price
Flight.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,SpiceJet,SG-157,"Wed, 19 Jul 2023",12:00,14:25,New Delhi,Mumbai,Non Stop,2h 25m,4072
1,Air Asia,I5-788/337,"Wed, 19 Jul 2023",21:45,02:15\n+ 1 day,New Delhi,Mumbai,1 Stop,4h 30m,4342
2,Air Asia,I5-743/762,"Wed, 19 Jul 2023",05:00,10:45,New Delhi,Mumbai,1 Stop,5h 45m,4342
3,Air Asia,I5-745/784,"Wed, 19 Jul 2023",13:00,20:20,New Delhi,Mumbai,1 Stop,7h 20m,4342
4,Air Asia,I5-1569/472,"Wed, 19 Jul 2023",19:25,04:00\n+ 1 day,New Delhi,Mumbai,2 Stop(s),8h 35m,4342

In [29]:
Flight.to_csv('FlightPrice.csv')

In [30]:
df=pd.read_csv('FlightPrice.csv')

In [31]:
print('No. of Rows :',df.shape[0])
print('No. of Columns :',df.shape[1])
df.head()

No. of Rows : 146
No. of Columns : 11

,Unnamed: 0,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,0,SpiceJet,SG-157,"Wed, 19 Jul 2023",12:00,14:25,New Delhi,Mumbai,Non Stop,2h 25m,4072
1,1,Air Asia,I5-788/337,"Wed, 19 Jul 2023",21:45,02:15\n+ 1 day,New Delhi,Mumbai,1 Stop,4h 30m,4342
2,2,Air Asia,I5-743/762,"Wed, 19 Jul 2023",05:00,10:45,New Delhi,Mumbai,1 Stop,5h 45m,4342
3,3,Air Asia,I5-745/784,"Wed, 19 Jul 2023",13:00,20:20,New Delhi,Mumbai,1 Stop,7h 20m,4342
4,4,Air Asia,I5-1569/472,"Wed, 19 Jul 2023",19:25,04:00\n+ 1 day,New Delhi,Mumbai,2 Stop(s),8h 35m,4342

In [32]:
df.drop(columns='Unnamed: 0', inplace =True)

In [33]:
#sorting columns by the datatypes of their values
df.columns.to_series().groupby(df.dtypes).groups

{int64: ['Price'], object: ['Airline', 'Aeroplane', 'Date', 'Departure_Time', 'Arrival_Time', 'Source', 'Destination', 'Stops', 'Duration']}

In [34]:
#data integrity check carried out here
df.duplicated().sum()
df.isin([' ','?','-','null','NA']).sum().any()

False

In [28]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp310-cp310-win_amd64.whl (9.2 MB)
     ---------------------------------------- 9.2/9.2 MB 7.0 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.5.0
  Downloading scipy-1.11.1-cp310-cp310-win_amd64.whl (44.0 MB)
     ---------------------------------------- 44.0/44.0 MB 4.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\prish\anaconda3\lib\site-packages (from scikit-learn) (1.25.0)
Collecting joblib>=1.1.1
  Downloading joblib-1.3.1-py3-none-any.whl (301 kB)
     -------------------------------------- 302.0/302.0 kB 4.7 MB/s eta 0:00:00
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.1 scikit-learn-1.3.0 scipy-1.11.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [30]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.6-py3-none-win_amd64.whl (70.9 MB)
     ---------------------------------------- 70.9/70.9 MB 6.8 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\prish\anaconda3\lib\site-packages (from xgboost) (1.11.1)
Requirement already satisfied: numpy in c:\users\prish\anaconda3\lib\site-packages (from xgboost) (1.25.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6
Note: you may need to restart the kernel to use updated packages.

In [35]:
#Machine learning model
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from xgboost import XGBRegressor

In [54]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.1-py2.py3-none-any.whl (81 kB)
     ---------------------------------------- 81.9/81.9 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.0.0 in c:\users\prish\anaconda3\lib\site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: pandas>=1.0.5 in c:\users\prish\anaconda3\lib\site-packages (from category_encoders) (2.0.3)
Collecting patsy>=0.5.1
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.8/233.8 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in c:\users\prish\anaconda3\lib\site-packages (from category_encoders) (1.25.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\prish\anaconda3\lib\site-packages (from category_encoders) (1.3.0)
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.14.0-cp310-cp310-win_amd64.whl (9.2 MB)
     ---------------------------------------- 9.2/9.2 MB 5.8 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\prish\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\prish\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prish\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\prish\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prish\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\prish\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.1)
Requirement already satisfied: packaging>=21.3 in c:\users\prish\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: patsy, statsmodels, category_encoders
Successfully installed category_encoders-2.6.1 patsy-0.5.3 statsmodels-0.14.0
Note: you may need to restart the kernel to use updated packages.

In [61]:
import category_encoders as ce
# Categorical variables of the data:

In [63]:
from sklearn.preprocessing import RobustScaler

In [36]:
df['Duration'] = df['Duration'].map(lambda x : x.replace('05m','5m'))

In [37]:
# Conversion of Duration column from hr & Minutes format to Minutes
df['Duration'] = df['Duration'].str.replace('h','*60').str.replace(' ','+').str.replace('m','*1').apply(eval)

# convert this column into a numeric datatypes
df['Duration']= pd.to_numeric(df['Duration'])

In [38]:
df['Day']= df['Date'].map(lambda x :x[:3])

In [39]:
df['Date']= df['Date'].map(lambda x :x[4:])

In [43]:
Categorical = ['Airline','Day','Stops','Aeroplane']

In [44]:
pd.set_option('display.max_rows',None)
for i in Categorical :
    print(i)
    print(df[i].value_counts())
    print('='*100)

Airline
Airline
IndiGo       48
Air India    46
Vistara      34
Air Asia     11
Akasa Air     4
SpiceJet      3
Name: count, dtype: int64
====================================================================================================
Day
Day
Wed    146
Name: count, dtype: int64
====================================================================================================
Stops
Stops
1 Stop       102
Non Stop      42
2 Stop(s)      2
Name: count, dtype: int64
====================================================================================================
Aeroplane
Aeroplane
QP-1119         2
SG-157          1
6E-6187/5222    1
6E-6231/6673    1
AI-819/670      1
AI-823/690      1
AI-885/664      1
6E-2277/5189    1
6E-6034/6425    1
UK-815/854      1
AI-851/663      1
UK-815/864      1
UK-815/850      1
AI-411/626      1
UK-941          1
UK-985          1
AI-542/618      1
AI-560/618      1
AI-1851/663     1
I5-711/338      1
UK-975          1
UK-955          1
AI-811/626      1
6E-6492/5079    1
AI-881/662      1
AI-885/662      1
6E-6083         1
UK-951          1
UK-977          1
6E-731/5046     1
UK-927          1
6E-2033/6425    1
UK-979/936      1
AI-881/697      1
AI-885/697      1
AI-881/684      1
AI-839/616      1
6E-2272/773     1
UK-929/936      1
AI-514/622      1
AI-803/622      1
AI-502/610      1
AI-514/604      1
AI-813/602      1
AI-502/642      1
AI-803/602      1
AI-506/610      1
AI-506/602      1
AI-514/602      1
UK-673/622      1
AI-406/696      1
UK-813/840      1
UK-807/866      1
AI-887          1
AI-815/642      1
AI-807/642      1
UK-555/572      1
6E-6103/853     1
6E-6822/983     1
AI-403/688      1
AI-403/656      1
AI-853/663      1
AI-849/663      1
6E-6241/5024    1
AI-469/644      1
AI-813/622      1
6E-6241/5139    1
UK-801/854      1
UK-801/864      1
UK-801/850      1
AI-435/634      1
AI-815/610      1
UK-969/936      1
UK-979/956      1
I5-788/337      1
6E-607/5277     1
6E-5197         1
6E-864          1
6E-2328         1
6E-2016         1
6E-6092         1
6E-6424         1
6E-153/5277     1
6E-2519         1
QP-1128         1
AI-835/638      1
AI-481/632      1
AI-481/638      1
AI-817/632      1
AI-817/638      1
6E-2176         1
6E-2084         1
AI-531/638      1
I5-560/472      1
I5-743/762      1
I5-745/784      1
I5-1569/472     1
I5-779/679      1
I5-788/762      1
6E-2033/5277    1
SG-8192         1
6E-2112         1
SG-8709         1
QP-1411         1
6E-2208/5282    1
UK-995          1
6E-2009         1
6E-824          1
AI-531/632      1
AI-835/632      1
6E-5204/5056    1
6E-607/5017     1
UK-981          1
UK-943          1
UK-963          1
UK-929/956      1
UK-969/956      1
6E-153/6794     1
6E-6492/6794    1
6E-2042/6945    1
6E-153/5195     1
6E-2114         1
6E-184/5185     1
6E-184/5056     1
6E-184/5061     1
6E-5204/5185    1
UK-933          1
UK-979/918      1
6E-2204/5165    1
I5-768/336      1
UK-929/918      1
UK-969/918      1
I5-784          1
UK-957          1
UK-945          1
UK-993          1
I5-798/336      1
6E-2028/5059    1
6E-5112         1
6E-2017         1
6E-5218         1
6E-2075         1
6E-2033/5017    1
6E-6492/5136    1
AI-624          1
Name: count, dtype: int64
====================================================================================================

In [45]:
df.describe(include=object).style.background_gradient(cmap='summer_r')

In [46]:
df.drop(columns=['Departure_Time','Arrival_Time','Source','Destination'], inplace= True)

In [47]:
#sorting columns by datatype
df.columns.to_series().groupby(df.dtypes).groups

{int64: ['Duration', 'Price'], object: ['Airline', 'Aeroplane', 'Date', 'Stops', 'Day']}

In [48]:
Categorical = ['Airline', 'Aeroplane', 'Date', 'Stops', 'Day']
Numerical = ['Duration', 'Price']

In [49]:
df['Aeroplane']= df['Aeroplane'].map(lambda x: str(x).replace('-',''))
df['Aeroplane']= df['Aeroplane'].map(lambda x: str(x).replace('/',''))

In [51]:
# Using Label encoder for transforming Categorical data

#label encoding is used to transform categorical data into numerical values to use in our prediction model
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in Categorical:
    df[i] =le.fit_transform(df[i])
df.head()

   Airline  Aeroplane  Date  Stops  Duration  Price  Day
0        4        108     0      2       145   4072    0
1        0        102     0      0       270   4342    0
2        0         97     0      0       345   4342    0
3        0         98     0      0       440   4342    0
4        0         94     0      1       515   4342    0

In [52]:
df.corr()
#returns the correlation of each column

            Airline  Aeroplane  Date     Stops  Duration     Price  Day
Airline    1.000000   0.296878   NaN  0.356436 -0.223656 -0.092851  NaN
Aeroplane  0.296878   1.000000   NaN  0.115907  0.124222  0.067697  NaN
Date            NaN        NaN   NaN       NaN       NaN       NaN  NaN
Stops      0.356436   0.115907   NaN  1.000000 -0.630085 -0.338528  NaN
Duration  -0.223656   0.124222   NaN -0.630085  1.000000  0.121649  NaN
Price     -0.092851   0.067697   NaN -0.338528  0.121649  1.000000  NaN
Day             NaN        NaN   NaN       NaN       NaN       NaN  NaN

In [53]:
#standard scaling
# Splitting data in target and dependent feature
X = df.drop(['Price'], axis=1)
Y = df['Price']
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scale = scaler.fit_transform(X)

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, Y, random_state=99, test_size=0.33)
print('Training Feature Matrix Size:', X_train.shape)
print('Training Target Vector Size :', Y_train.shape)
print('Test Feature Matrix Size:', X_test.shape)
print('Test Target Vector Size:', Y_test.shape)

Training Feature Matrix Size: (97, 6)
Training Target Vector Size : (97,)
Test Feature Matrix Size: (49, 6)
Test Target Vector Size: (49,)

In [55]:
#The Prediction Model
Final_mod=XGBRegressor(booster='gbtree', max_depth=6, eta=0.1,
                                gamma=0.1, n_estimators=400)
#booster sets the type of learner; linear will have a group of linear functions as boosters
#max_depth is the number of nodes all the trees are split at(no of splits each tree is allowed to make)
#eta=learning rate
#max_delta_step - The maximum step size that a leaf node can take.
#the leaf values can be no larger than max_delta_step * eta
#min loss reduction


Final_mod.fit(X_train,Y_train)
pred=Final_mod.predict(X_test)
print('R2_Score:',r2_score(Y_test,pred)*100)
print('mean_squared_error:',mean_squared_error(Y_test,pred))
print('mean_absolute_error:',mean_absolute_error(Y_test,pred))
print("RMSE value:",np.sqrt(mean_squared_error(Y_test, pred)))

R2_Score: 29.469018366590927
mean_squared_error: 1453318.1630279555
mean_absolute_error: 994.6453284438776
RMSE value: 1205.53646275339

In [57]:
# Saving the model using .pkl
import joblib
joblib.dump(Final_mod,"FlightPricePredictionModel.pkl")

['FlightPricePredictionModel.pkl']

In [58]:
# Loading the saved model
model = joblib.load("FlightPricePredictionModel.pkl")

# Prediction
prediction = model.predict(X_test)
prediction

array([6981.688 , 6144.93  , 6521.907 , 5269.    , 5439.505 , 5100.413 ,
       5124.2173, 8806.871 , 5856.6245, 4073.8293, 4853.7466, 6458.1006,
       7321.071 , 5590.368 , 8143.4116, 5021.123 , 8194.067 , 5205.8413,
       6254.9814, 5666.476 , 9012.789 , 8409.67  , 5187.2456, 7613.9634,
       5216.6235, 4962.292 , 4798.152 , 7686.2705, 9018.499 , 4767.256 ,
       6170.1177, 5583.6475, 4367.131 , 6035.7637, 5088.052 , 9438.241 ,
       7443.72  , 5400.2017, 5428.4424, 4073.8293, 6161.695 , 6424.1904,
       8762.439 , 4933.8623, 3513.296 , 4807.535 , 7399.717 , 5839.28  ,
       6798.102 ], dtype=float32)

In [59]:
pd.DataFrame([model.predict(X_test)[:], Y_test[:]], index = ['Predicted', 'Actual'])

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
Predicted,6981.687988,6144.930176,6521.907227,5269.0,5439.504883,5100.413086,5124.217285,8806.871094,5856.624512,4073.829346,...,4073.829346,6161.694824,6424.19043,8762.439453,4933.862305,3513.295898,4807.535156,7399.716797,5839.279785,6798.102051
Actual,6555.000000,4502.000000,5584.000000,6319.0,6663.000000,6266.000000,5785.000000,9086.000000,5785.000000,4509.000000,...,4509.000000,4788.000000,4524.00000,9086.000000,5299.000000,4823.000000,5299.000000,5978.000000,6868.000000,7656.000000